.card-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-right:auto;
    align-items: stretch;
    width: auto;
}

.catalog-box {
    align-items: stretch;
    width: auto;
}

.pagination {
    margin-bottom: 55px;
    
}