.filter-box {
    max-width: 350px;
    min-width: 165px;
    width: 10%;
    font-size: medium;
    /* border: 2px solid;
    border-radius: 10px;
    border-color: rgb(175, 171, 175); */
    margin-right: 30px;
    max-height: 300px;
}

.pagination {
    padding: 10px;
    
}

.filter-list {
    list-style-type: none;
}

.filter-list:hover {
    
}

li {
 color: rgb(10, 12, 12);
 padding: 1px;
}

.filter-list > li:hover {
    color: rgb(91, 152, 163);
    cursor: pointer;
}

label:hover {
    cursor: pointer;
}
li > input:hover {
    cursor: pointer;
}

h1 {
    font-size: large;
    padding: 10px;
}


