.filter-box {
    max-width: fit-content;
    font-size: medium;
    border: 2px solid;
    border-radius: 10px;
    border-color: rgb(175, 171, 175);
    margin-right: 30px;
    max-height: 300px;
}

.filter-list {
    list-style-type: none;
}

.filter-list:hover {
    
}

li {
 color: rgb(10, 12, 12);
 padding: 1px;
}

.filter-list > li:hover {
    color: rgb(106, 165, 165);
    cursor: pointer;
}

label:hover {
    cursor: pointer;
}
li > input:hover {
    cursor: pointer;
}

h1 {
    font-size: large;
    padding: 10px;
}


